* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    position: relative;
    width: 380px;
    height: 700px;
    background-image: url('https://wallpapers.com/images/hd/persona-3-dancing-moon-night-5kdhhl2qa651sv7h.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 60px 30px;
    overflow: hidden;
}

.isi-card {
    position: relative;
    z-index: 2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
}

.p1 {
    font-size: 44px;
    font-weight: 900;
    line-height: 0.95;
    color: white;
}

.foto-profil {
    width: 90px;
    height: 90px;
    background-image: url('https://tse2.mm.bing.net/th/id/OIP.8h6aenGl1p27F-_tLeoQWQHaFB?pid=Api&h=220&P=0');
    background-size: cover;
    background-position: center;
    display: flex;
    background-color: #d1d1d1;
    border-radius: 50%;
}

.p2 {
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin-bottom: 40px;
}

.kotakinput {
    margin-bottom: 15px;
    position: relative;
}

fieldset {
    border: 1.5px solid #111;
    border-radius: 20px;
    padding: 0 15px;
    background: rgba(255, 255, 255, 0.1);
}

legend {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 0 8px;
    margin-left: 10px;
}

.kotakinput input {
    width: 100%;
    border: none;
    background: transparent;
    padding: 12px 0;
    color: #fff;
    outline: none;
    font-size: 15px;
}

.kotakinput input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.kotakinput i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-20%);
    color: #111;
    font-size: 18px;
}

.opsi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 5px 40px;
    font-size: 12px;
    color: #fff;
}

.kotakingat {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.kotakingat input {
    margin-right: 8px;
}

.lupa-pass {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.tombol-masuk {
    width: 100%;
    padding: 16px;
    background-color: #2da1db;
    border: none;
    border-radius: 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
